.headersplit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
}

.logo {
    flex: 1 1 0;
    margin: 5px;
    color: #061f4a;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-left: 37px;
}

.orange {
    color:#dd361c;
}
